.adaptive-textarea {
  textarea {
    width: 100%;
    height: 100%;
    padding: 0;
    resize: none;
    box-sizing: border-box;
    border: none;
    background-color: var(--color-message-7);

    &::placeholder {
      font-size: 14px;
    }

    &:hover,
    &:disabled {
      background-color: var(--color-message-5);
    }

    &:focus {
      background-color: var(--color-white);
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}
